<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/" method="get" class="Producto" style="text-align:center" style="font-size: x-large">
        <br>
        <div>
            <h2 style="color:peru"> Editar </h2>


            <input type="text" placeholder=" Seleccionar Producto" style="border-radius:5px solid " required>
        </div>
        <br>
        <div>

            <input type="text"  required>
        </div>
        <br>
        <div>
            <label for="" style="color:peru" required>Fecha de nacimiento</label> <br>
            
        </div>
        <br>





        <div>

            <input type="Cantidad">
        </div>
        <br>
        <div>

            <input type="password" placeholder="Confirmar contraseña">
            <br>
        </div>
        <br>
        <div>
            <label>
                <input type="checkbox" name="terminosaceptados">
                <label for="acepto los terminos de privacidad" style="color:peru" style="font-size:small">Acepto la
                    politíca de privacidad </label>

            </label>
        </div>
        <br>
        <div>

            <a href="views/home.html"> <button type="submit" class="submit" style="color:peru"> Registrarse </button>
            </a>
        </div>
        <br>
        <label for="iniciar sesion "> ¿Ya tienes una cuenta? </a>
            <a href="/login"> Inicia sesion <label for="iniciar sesion "> </label> </a>
            <div>

            </div>
            </div>
            <br>
            <%- include("./partials/footer.ejs") %>

    </form>

    <footer>


    </footer>

</body>

</html>