<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P.Create</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">
</head>
<body>
    <a href="/" > <style type="text/css"> .hola{
        color: rgb(79, 165, 42);
        font-size: 20px;
        font-family:cursive;
        
            }
             </style> 
              <div class="hola"> <i class="fa-solid fa-arrow-right-from-bracket"></i></i></a>  </div>
    <a href="/"><img src="../images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" style="width:100%"></a>

    <src img="https://cdn.forbes.co/2022/03/623e1f123c15e__822x460-copia.jpg"></src>
    </div>
    <form action="/listaprod" method="POST" class="email" style="text-align:center" style="font-size: x-large" enctype="multipart/form-data">
        <br>
        <h2 style="color:rgb(178, 235, 159)">Crear producto </h2>
      
        <br>
        <br>
        <div>
            <input type="text" placeholder="Nombre del producto" name="name" style="color:gray" required>
        </div>
        <br>
        <div>
            <input type="text" placeholder=" Descripcion"  style="color:gray" name="description" required>
        </div>
        <br>
        <input type="file"   name="profilePhoto" > 
        <br>
        
        <br>
        <div>
            <input type="text" placeholder="Categoria" name="category" required>
        </div>
        <br> 
        <div>
            <input type="text" placeholder="Precio" name="price" required>
            <br>
        </div>
        <br>
        <div>
            <input type="text" placeholder="Color" name="color" required>
            <br>
        </div>
        <br>
        <div>
            <label>
                <input type="checkbox" name="terminosaceptados" >
                <label for="acepto los terminos de privacidad" style="color:rgb(112, 184, 88)" 
                    style="font-size:small">He leido nuevamente, para poner bien los datos. </label>
                    
        </div>
        <br>
        <div>
            <input type="submit" value=" Crear producto" style="color:rgb(104, 199, 115)">
        </input>
        </div>
        </div>
    </form>
</body>
</html>