<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.google.com" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/poductDetail.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Bree+Serif" rel="stylesheet">
    <title>Document</title>
</head>

<body><body>
    <h1 style="text-align:center">Finour joyas</h1>
    <header class="main-header">
    <div class="main-header-top-bar">
    <h3 class="copy-header">
   <form action="/" method="GET" class="search-bar">
    <button class="search-button">
    <div style="align-items:center"><input type="text" placeholder="ingrese su bsqueda" name="search"><i
    class="fa-solid fa-magnifying-glass" style="font-size: 18px;"></i>
    </button>
</form>
        </div>
        <nav class="main-navbar">
            <ul class="left navbar">
                <a href="#" class="hamburger-button">
                    <i class="fa-solid fa-bars"></i></a>
                <li><a href="#">Asesoramiento</a></li>
                <li><a href="#">Nuestros productos</a></li>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right navbar">
                <li><a href="http://localhost:3001/user/login">Iniciar sesion<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href=" http://localhost:3001/user/register">Registrate<i
                            class="fa-solid fa-arrow-right-to-bracket"></i>
                </li>
                <li><a href="http://localhost:3001/user/productCart">Agregar al carrito<i
                            class="fa-solid fa-cart-shopping"></i></a></li>
                            <li><a href="http://localhost:3001/views/products/productDetail">Productos
                            </ul>
        </nav>
        <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner">
    </header>
    <main>
        <main>
        <div class="main-section">
        <br>
        <h2 style="text-align:center">Nuestras joyas</h2>
        <br>
        <section>
            <article>
                <img src="./images/img4.jpg" alt="">
                <p class="descuentos"> 12% OFF</p>
                <p class="descripciones">Conjunto de collar y aros con piedras preciosas azules enchapado en plata</p>
                <p class="precio"> $200.000</p>
            </article>
            <article>
                <img src="./images/img10.jpg" alt="">
                <p class="descuentos"> 10% OFF </p>
                <p class="descripciones">Aros con diamantes violetas de acero quirurgico </p>
                <p class="precio"> $150.000 </p>
            </article>
            <article>
                <img src="./images/img11.jpg" alt="">
                <p class="descuentos"> 15% OFF </p>
                <p class="descripciones">Brazalete con piedras preciosas y estraces de alta calidad enchapado en oro
                </p>
                <p class="precio">$250.000 </p>
            </article>
            <article>
                <img src="./images/img15.jpg" alt="">
                <p class="descuentos">10% OFF</p>
                <p class="descripciones">Conjunto de anillos de plata con piedras finas </p>
                <p class="precio"> $50.000</p>
            </article>
        </section>
        <br>
        <h2 style="text-align:center">Sugeridas</h2>
        <br>
        <section>
            <article>
                <img src="./images/img18.jpg" alt="">
                <p class="descuentos">10% OFF</p>
                <p class="descripciones">Aros de acero quirurgico con piedras peciosas </p><br>
                <p class="precio">$40.000</p>
            </article>
            <article>
                <img src="./images/img8.jpg" alt="">
                <p class="descuentos">12% OFF</p>
                <p class="descripciones">Conjunto brazalete, aros y collar de plata con diamantes</p><br>
                <p class="precio">$100.000</p>
            </article>
            <article>
                <img src="./images/img 3.jpg" alt="">
                <p class="descuentos">12% OFF</p>
                <p class="descripciones">Conjunto de aros,anillo y collar con piedras azules</p>
                <p class="precio">$170.000 </p>
            </article>
            <article>
                <img src="./images/img19.jpg" alt="">
                <p class="descuentos">10% OFF</p>
                <p class="descripciones">Aros de oro 18 kilates con estraces</p><br>
                <p class="precio">$30.000 </p>
            </article>
        </section>
    </main>
    <br>
    <h3 style="text-align:center"><i class="fas fa-hand-holding-usd"></i> Medios de pago:
        TARJETA,EFECTIVO,TRANSFERENCIA.</h3>
    </section>
    <br>
    <section>
        <div class="footer"></div>

    </section>
    </main>
    </footer>
</body>
</header>
<img src="footer.jpeg" style="width:100%"></footer>

</body>

</html>