<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.google.com" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Bree+Serif" rel="stylesheet">
</head>

<body style="background-color:rgb(237, 232, 235)">
    <h1>
        <title>FINOUR JOYAS</title>
    </h1>
    <header class="main-header">

           
                         
                      
            </h3>
            <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner">
            <div class="main-header-top-bar">
                <button class="barra-de-busqueda"> <input type="text" placeholder=" ingrese su busqueda" name="search"><i
                        class="fa fa-search" style="font-size: 18px;"></i>
                </button>
                <h3 class="copy-header">
                    <i class="fas fa-hand-holding-usd" ></i>
                    Medios de pago:
                    TARJETA,EFECTIVO Y TRANSFERENCIA.
        </div>
        <a href="#" class="hamburger-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left navbar">
                <li><a href="#">Sale</a></li>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right navbar">
                <li><a href="/login">Iniciar sesion<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/register">Registrate<i
                            class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Visitado ultimamente </h3>
        <article>
            <img src="./images/img4.jpg" alt="">
            <p class="descuentos"> 12% OFF</p>
            <p class="descripciones">Conjunto de collar y aros con piedras preciosas azules enchapado en plata</p>
            <p class="precio"> $200.000</p>
        </article>
        <article>
            <img src="./images/img10.jpg" alt="">
            <p class="descuentos"> 10% OFF </p>
            <p class="descripciones">Aros con diamantes violetas de acero quirurgico </p>
            <p class="precio"> $150.000 </p>
        </article>
        <article>
            <img src="./images/img11.jpg" alt="">
            <p class="descuentos"> 15% OFF </p>
            <p class="descripciones">Brazalete con piedras preciosas y estraces de alta calidad enchapado en oro </p>
            <p class="precio">$250.000 </p>
        </article>
        <h3>Sugerencias</h3>
        <article>
            <img src="./images/img15.jpg" alt="">
            <p class="descuentos">10% OFF</p>
            <p class="descripciones">Conjunto de anillos de plata con piedras finas </p>
            <p class="precio"> $50.000</p>
        </article>
        <div class="Sugerencias">
            <article>
                <img src="./images/img18.jpg" alt="">
                <p class="descuentos">10% </p>
                <p class="descripciones">Aros de acero quirurgico con piedras peciosas </p><br>
                <p class="precio">$40.000</p>
            </article>
            <article>
                <img src="./images/img8.jpg" alt="">
                <p class="descuentos">12% OFF</p>
                <p class="descripciones">Conjunto brazalete, aros y collar de plata con diamantes</p><br>
                <p class="precio">$100.000</p>
            </article>
            <article>
                <img src="./images/img 3.jpg" alt="">
                <p class="descuentos">12% OFF</p>
                <p class="descripciones">Conjunto de aros,anillo y collar con piedras azules</p>
                <p class="precio">$170.000 </p>
            </article>
            <article>
                <img src="./images/img19.jpg" alt="">
                <p class="descuentos">10% OFF</p>
                <p class="descripciones">Aros de oro 18 kilates con estraces</p><br>
                <p class="precio">$30.000 </p>
            </article>
    </main>
    </section>
    <section>
        <div class="footer"></div>
        <h4 class="pago"><i class="fa-solid fa-credit-card"></i> Pagá con tarjeta o en efectivo</h4>
        <br>
        <h4>cuotas sin interés con tarjeta o efectivo ¡es seguro!</h4>
        <br>
        <section>
            <h5 class="envio"><i class="fa-solid fa-gift"></i>Envío gratis desde $ 10.000</h5>
            <h5>seguinos en redes soicales,de regalo <br> por estar registrad@ en finour joyas tenés envíos
                <br>gratis en muchos productos.
            </h5>
        </section>
        <br>
        <section>
            <div class="seguridad">
        </section>
        <section>
            <h6> <i class="fa-solid fa-shield-halved"></i>Copyright © 2022 finour joyas S.R.L.</h6>
        </section>
        </main>
        </footer>
</body>
</header>


</body>

</html>