<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finour joyas</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">
        <div class="logo-finour-joyas.jpg">
            <img src="./images/logo -finour-joyas.jpg" class="logo">
            <div class="banner">
                <img src="./images\banner.jpg" class="logo-banner">
            </div>
            <div class="logo-search">
                <div class="search">
                    <div class="logo-search">
                        <button> <input type="text" placeholder=" Busqueda" name="search"><i class="fa fa-search"
                                style="font-size: 18px;"></i>
                        </button>
                        <i class="fas fa-hand-holding-usd"></i>medios de pago

                        <div class="lista">
                            <a href="#"></a>Ofertas
                            <a href="#"></a>Tiendas oficiales
                            <a href="#"></a>Vender
                            <a href="#"></a>Ayuda
                            <div class=" lista">
                                <div class="lista">
                                    <a href="http://localhost:3001/register">registrate</a> <i
                                        class="fa-solid fa-id-card"></i>
                                    <a href="http://localhost:3001/login">Iniciar sesion</a><i
                                        class="fa-solid fa-arrow-right-to-bracket"></i>
                                    <a href="http://localhost:3001/carrito de compras">agregar al carrito</a><i
                                        class="fa-solid fa-cart-shopping"></i>
                                </div>
                                <nav class="burger">
                                    <div class="burger-menu">
                                        <a href="#"></a><i class="fa-solid fa-bars"></i>
                                </nav>
                                <main>
                                    <section>
                                        <h3> Basado en tu ultima visita:</h3>
                                        <article><img src="" alt="">
                                            <img src="./images/img 1.jpg" class="img">
                                            <div class="detalles">
                                                <i class="fa-solid fa-truck">envios a todo el pais </i>
                                                <p> $</p>
                                                <p class="descuento"> % OFF</p>
                                                <p></p>
                                            </div>
                                        </article>
                                        <article><img src="" alt="">
                                            <img src="./images/img2.jpg" class="img">
                                            <div class="detalles">
                                                <i class="fa-solid fa-truck">envios a todo el pais </i>
                                                <p>$</p>
                                                <p class="descuento">% OFF</p>
                                                <p></p>
                                            </div>
                                        </article>
                                        <article><img src="" alt="">
                                            <img src="./images/img 3.jpg" class="img">
                                            <div class="detalles">
                                                <i class="fa-solid fa-truck">envios a todo el pais </i>
                                                <p> $</p>
                                                <p class="descuento"> % OFF</p>
                                                <p></p>
                                            </div>
                                        </article>
                                        <article><img src="" alt="">
                                            <img src="./images/img4.jpg" class="img">
                                            <div class="detalles">
                                                <i class="fa-solid fa-truck">envios a todo el pais </i>
                                                <p>$</p>
                                                <p class="descuento">% OFF</p>
                                                <p></p>
                                            </div>
                                        </article>
                                        <article><img src="" alt="">
                                            <img src="./images/img 5.jpg" class="img">
                                            <div class="detalles">
                                                <i class="fa-solid fa-truck">envios a todo el pais </i>
                                                <p>$</p>
                                                <p class="descuento">% OFF</p>
                                                <p></p>
                                            </div>

                                            <article><img src="" alt="">
                                                <div class="detalles">
                                                    <i class="fa-solid fa-truck"></i>
                                                    <p>$</p>
                                                    <p class="descuento">% OFF</p>
                                                   <p></p>
                                                </div>

                                                <article><img src="" alt="">
                                                    <div class="detalles">
                                                        <i class="fa-solid fa-truck"></i>
                                                        <p>$</p>
                                                        <p class="descuento">% OFF</p>
                                                        <p></p>
                                                    </body>
                                <article>
                                </article>
                                <footer class="footer">
                                    <section>
                                        <i class="fa-solid fa-credit-card"></i>
                                        <h4 class="pago"> Pagá con tarjeta o en efectivo</h4>
                                        cuotas sin interés con tarjeta o efectivo ¡es seguro!
                                    </section>
                                    <section>
                                        <i class="fa-solid fa-gift"></i>
                                        <h4 class="envio">Envío gratis desde $ 1.500</h4>
                                        seguinos en redes soicales
                                        De regalo por or estar registrad@ en finour joyas tenés envíos gratis en muchos
                                        productos.
                                    </section>
                                    <section>
                                        <i class="fa-solid fa-shield-halved"></i>
                                        <div class="seguridad">
                                
                                
                                    </section>
                                    <section>Copyright © 2022 finour joyas S.R.L.</section>
                                </footer>
                                </body>
                                </header>
                                
                                </body>
                                
                                </html>