<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grupo-5-Finour-joyas/css/home.css">
    <title>Document</title>
<head>
    <body>
       
      
    <form  action="/" method="get"> 
        
        
        <br>
        <div>
            <label for="Nombre y apellido">Nombre y apellido</label>
            <input type="text" placeholder="Nombre y apellido">
        </div>
        <br>
        <div>
            <label for="Nombre de usuari@">Nombre de usuari@</label>
            <input type="text" placeholder="Nombre de usuari@">
        </div>
        <br>
        <div>
            <label for="contraseña">contraseña</label>
            <input type="password" placeholder="contraseña">
        </div>
        <br>
        <div>
           
            <a href="views/home.html">  <button type="submit" class="submit">  Enviar </button></a>
    </form>
</body>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <img src="/images/logo-joyas.png">
    <p>Bienvenido</p>

</form>
<form action="/" method="GET" class="login">
        <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" class="control" required>
        <input type="password" name="contrasena" placeholder="Contraseña" class="control" required>
    <button type="submit" class="boton-formulario">Enviar</button>
</body>