<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/images/logo-joyas.png">
    <p>Bienvenido</p>

</form>
<form action="/" method="GET" class="login">
        <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" class="control" required>
        <input type="password" name="contrasena" placeholder="Contraseña" class="control" required>
    <button type="submit" class="boton-formulario">Enviar</button>
</body>