<!DOCTYPE html>
<html lang="en">

<head>
    <body>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    <form method="post">
        <br>
        <div>
            <label for="Nombre y apellido">Nombre y apellido</label>
            <input type="text" placeholder="Nombre y apellido">
        </div>
        <br>
        <div>
            <label for="Nombre de usuari@">Nombre de usuari@</label>
            <input type="text" placeholder="Nombre de usuari@">
        </div>
        <br>
        <div>
            <label for="contraseña">contraseña</label>
            <input type="password" placeholder="contraseña">
        </div>
        <br>
        <div>
            <button><a href="http://localhost:3001">enviar</a></button>
    
    </form>
</body>
</head>
</html>