<!DOCTYPE html>
<html lang="en">

<head>

<body>
    <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
    <form method="post">
        <br>
        <div>
            <label for="Nombre y apellido">Nombre y apellido</label>
            <input type="text" placeholder="Nombre y apellido">
        </div>
        <br>
        <div>
            <label for="Nombre de usuari@">Nombre de usuari@</label>
            <input type="text" placeholder="Nombre de usuari@">
        </div>
        <br>
        <div>
            <label for="Fecha de nacimiento">Fecha de nacimiento</label>
            <input type="date">
        </div>
        <br>
        <div>
            <label for="Domicilio">Domicilio</label>
            <input type="text" placeholder="Domicilio">
        </div>
        <br>
        <div>
            <label for="Perfil del usuario">Perfil del usuario</label>
            <input type="text" placeholder="Perfil del usuario">
        </div>
        <br>
        <div>
            <label for="Categorías de interés">Categorías de interés:</label>
            <select>
                <option value="Electro">Electro</option>
                <option value="">Moda</option>
                <option value="">Hogar</option>
                <option value="">Juguetería</option>
                <option value="">Vida sana</option>
            </select>
        </div>
        <br>
        <div>
            <label for="foto de usuario">foto de usuario</label>
            <input type="file" name="Avatar" accept="jp.,png" placeholder="foto de usuario">
        </div>
        <br>
        <div>
            <label for="contraseña">contraseña</label>
            <input type="password" placeholder="contraseña">
        </div>
        <br>
        <div>
            <label for="Confirmar contraseña">Confirmar contraseña</label>
            <input type="password" placeholder="Confirmar contraseña">
            <br>
        </div>
        <br>
        <div>
            <button><a href="http://localhost:3001">enviar</a></button>
        </div>
        <br>
        <div>
            <button> <a href="http://localhost:3001/register">borrar todos los datos del formulario</a></button>
        </div>
        <br>
        </div>
        <br>


    </form>
</body>
</head>

<body>

</body>

</html>