*{text-align: center;
    text-align: center;
}
.hola i{
    text-align: left;
}
h3{
    text-align: center;
    color:peru;
    display: inline-block;
}
.titulo2{
    text-align: center;
    color:rgb(113, 112, 112);
    text-decoration: double;
  
}
h5{
    font-size: 20px;
    color:rgb(173, 105, 29);
    text-decoration:underline;
}

h2{ color:peru;
}

.ayuda{
    padding:2px;
    position: relative;
    left:78%;
   bottom:10%;
   
    position: fixed ;
    max-height:200px;
    z-index: 200;
filter:brightness(1);
mix-blend-mode:multiply;
border-radius: 25px;
border-color: black;
}
