* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main{
    background-color: rgb(253, 225, 225) ;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


article {
    height: 80%;
    width: 80%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    border-radius: 12px;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    margin: 10px;
    animation-name: enmovimiento;
    animation-duration: 3em;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

article img {
    width: 40%;
    height: 40%;
      
}
.articulo1 {
    height:40%;
}
article:hover{
    box-shadow: 10px 5px 25px black;
}
/* button:hover{
    color: #0022AA;
} */

.detalles{
    font-family:'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.precio {
    font-size: 18 px;
    
}


.descuentos {
    font-size: 16 px;
    top: auto;
}

h3 {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:beige;

}
.pago1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pago{
    display: flex;
    flex-direction:column;
    text-align: center;
    background-color: rgb(209, 153, 153);
}
.pago i{
    font-size: 20px;
    color:beige;
    margin-right: 5px;
}

@media (min-width: 480px) {
    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    article{
        width: 45%;
    }
 }
 @media (min-width: 769px) {
    h3{
        font-size: 25px;
    }
.pago i{
    font-size: 30px;
}

 
@media (min-width: 1200px) {
    article{
        width: 22%;
    }

     }