<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/asesoramiento.css">
    <title>Asesoramiento</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">
    
</head>
<a href ="/"> <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner" style="width:100%"> </a>
<body>
   
    <br><br><h1> ¿ Nesecitas asesoramiento para combinar tus joyas ? </h1>  <fixed class="fixed" >
       <a href ><img src="./images/order.jpeg" class="fixed"></a> 
     </fixed> 
   
    <p>  Contamos con más de 15 años diseñando piezas únicas 
        de joyeria para deleitar a nuestros clientes más exigentes.

        Creamos joyas originales combinando materiales
         especiales  para cada ocasión. Trabajamos con la mejor 
         calidad en  Oro18kts, Platino, Plata 925, Piedras Preciosas 
         y Semi Preciosas.
        
        Aggiornamos diseños y/o piezas en desuso para así 
        poder  disfrutarlas por siempre!
        
        En Finour Joyas te ayudamos   a que tus piezas realmente
         se adapten a tu estilo y forma de ser.</p>

        
        
</body>
<foto>
    <div><img src="./images/asesorate.png" class="fotoAsesorate"></div>
</foto>
<h2> Existen varios motivos por los que es importante tasar nuestras joyas, ya que muchas veces son heredadas de generaciones anteriores, y podemos llegar a desconocer el verdadero valor que tenemos guardado en un cajón.  <br> <br>

    <br> ENTRE LAS RAZONES PODEMOS CITAR: <br>
    Para tener asegurados y protegidos estos bienes que aún siendo pequeños tienen un gran valor sentimental.<br>
    Para tener un inventario detallado en caso de herencias o divorcio.<br>
    Para saber cual es el valor de todo lo que tenemos, incluso objetos rotos, o dañados por el paso del tiempo, ya que eso no significa que carezcan de valor. <br> <br>
    SEGÚN EL MATERIAL DE LA JOYA TIENE UN VALOR DISTINTO: <br>
    Éste punto es muy importante cuando hablamos de metales: no es lo mismo la plata o platino, de oro o enchapado, cobre, etc. Lo mismo sucede con nuestras piedras preciosas, si son auténticas, sintéticas o de imitación. Por ejemplo la diferencia entre un diamante o una zirconita - ésta última es una gema con propiedades macroscópicas muy similares a las del diamante, pero muchísimo más barata, por lo que a menudo se le denomina “diamante de imitación”. <br> <br>
    
    Incluso siendo diamante variará mucho según su pureza, color, talla y peso, además se valora muy positivamente si dicho diamante tiene o no un certificado. <br>
    Por último la forma en que fue realizada también cobra valor a la hora de tasarla. No es lo mismo una joya realizada a mano o por procesos artesanales que por procesos mecánicos.<br>
    Tanto como lo ya expresado, es el estilo o la marca de las piezas de joyería. Podemos tener en nuestro poder alhajas de estilo art decó, art nouveau, florentino, etc. O de marcas como Cartier, Van Cleef, Tiffany, Bulgari, etc. y no saberlo... y hay mucha diferencia entre éstas y otras más comunes. <br></h2>
    <h4>  Encontranos por Instagram: <pre> <a href > Clickeando aquí</a> </h4> </pre>
<footer>
    <%- include("./partials/footer.ejs") %>
</footer>
</html>