<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ayuda.css">
    <title>AYUDA</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <a href="/"  class="hola"> <i class="fa-solid fa-arrow-right-from-bracket"></i></i>
    </a>
    <a href ="/"> <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner" style="width:100%"> </a>
<body>
   
  
10% OFF Abonando con transferencia bancaria y/o efectivo 3 CUOTAS SIN INTERÉS con todas las tarjetas de crédito.
<div>
<h2>¿Cómo pago mi compra?</h2>

Podes abonar por medio de las siguientes formas de pago:

- Tarjeta de Débito

- Tarjeta de Crédito

- Depósito o transferencia bancaria
</div>
<h2>¿Cómo y cuándo llega mi pedido?</h2>
Realizamos envíos dentro del territorio Argentino. Para envíos internacionales por favor contactarnos a través de info@dearen.com.ar

Opciones de envío y retiro:
- Retiro por Showroom-Atelier Acassuso. 

Dirección: Gral. Justo José de Urquiza 132, Acassuso.

Horarios: Lunes a Sábado con cita previa.

- Envío por Mensajería en CABA (todos los barrios) y GBA Norte.

- Envío por OCA a todo el territorio argentino. Podes elegir entre:

 

<h2>Cambios y devoluciones</h2>

Podrás realizar un cambio hasta 10 días corridos después de haber recibido tu compra. Los productos deben estar sin uso y en su packaging original.

Podes acercarte a nuestro showroom situado en Acassuso. También, podes enviarlo desde tu domicilio. El costo de envío y otros gastos de devolución, serán responsabilidad del cliente, salvo de que hubiere productos incorrectamente despachados o defectuosos.

Dado el caso que el producto llegara al cliente roto o dañado, podrá ser cambiado por otro producto igual en perfecto estado, siempre y cuando haya stock del mismo. Este cambio debe ser notificado por el comprador una vez recibido el producto y hasta 24 hs. después, por mail. Los gastos de envío del producto de reemplazo quedan a cargo de de.aren.

En caso de cambio de tamaño o modelo de pieza, el costo de reenvío será cubierto por el cliente. Cualquier duda, podes contactarnos en info@dearen.com.ar

En caso de que haya un saldo a favor del cliente, éste quedará como crédito para utilizar en de.aren. 

Para realizar los cambios, se tendrá en cuenta el importe final abonado. 

Las joyas hechas a medida, no tienen cambio ni devolución.
</head>
</body>
<footer>
    <%- include("./partials/footer.ejs") %>
</footer>
</html>