
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e32b1dc814.js" crossorigin="anonymous"></script>
    <title>Error</title>
</head>
<body >
    <a href="/" > <style type="text/css"> .hola{
color: rgb(79, 165, 42);
font-size: 20px;
font-family:cursive;

    }
     </style> 
      <div class="hola"> volver al home<i class="fa-solid fa-arrow-right-from-bracket"></i></i></a>  </div>

    <video  style=height:114vh;  autoplay muted loop  >
        <source src= "./images/Ups, lo sentimos a ocurrido un error.mp4" type="video/mp4"  > 
         
    </video >
 

 
</body>

</html>  