<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    
    <video width="100%"   autoplay muted loop >
        <source src= "./images/Ups, lo sentimos a ocurrido un error.mp4" type="video/mp4" style="border:solid 1px white" > 
         
    </video >
</body>
</html>