<%- include("./partials/head") %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.google.com" rel="stylesheet">

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/poductDetail.css">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Bree+Serif" rel="stylesheet">
</head>

<body>
    <h1>
        <title>FINOUR JOYAS</title>
    </h1>
    <header class="main-header">
        <div class="main-header-top-bar">
          
        </div>
        <nav class="main-navbar">
            <ul class="left navbar">
                <a href="#" class="hamburger-button">
                    <i class="fa-solid fa-bars"></i></a>
                <li><a href="/asesoramiento">Asesoramiento</a></li>
                <li><a href="/product">Todos los productos</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right navbar">



                <li><a href="/login">Iniciar sesion<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/register">Registrate<i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                    <li><a href="/productCart">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>


            </ul>
        </nav>
       <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner">

<link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">

  



    </header>

    <main>
        <br>
        <h2 style="text-align:center">Nuestras joyas</h2>
        <br>
        <section>
             <a href = "products/productDetail/1"><article class="articulo1">
                <img src="./images/img4.jpg" alt="">
                <p class="descuentos"> 12% OFF</p>
                
               
                <p class="precio"> $200.000</p></a>
            </article>
            <a href = "products/productDetail/2"> <article class="articulo2" id="">
                <img src="./images/newpicture.jpg" alt="">
                <p class="descuentos"> 10% OFF </p>
               
                <p class="precio"> $150.000 </p></a>
            </article>
            <a href = "products/productDetail/3"><article class="articulo3">
                <img src="./images/brazalete.jpg" alt="">
                <p class="descuentos"> 15% OFF </p>
                
                </p>
                <p class="precio">$250.000 </p></a>
            </article>
            <a href = "products/productDetail/4"><article class="articulo4">
                <img src="./images/anillo.jpg" alt="">
                <p class="descuentos">10% OFF</p>
               
                <p class="precio"> $50.000</p></a>
            </article>
        </section>
        <br>
        <h2 style="text-align:center">Sugeridas</h2>
        <br>
        <section>
            <a href = "products/productDetail/5"><article class="articulo1">
                <img src="./images/fotonueva.jpg" alt="">
                <p class="descuentos">10% OFF</p>
              
                <p class="precio">$40.000</p></a>
            </article>
            <a href = "products/productDetail/6"><article class="articulo2">
                <img src="./images/img8.jpg" alt="">
                <p class="descuentos">12% OFF</p>
              
                <p class="precio">$100.000</p></a>
            </article>
            <a href = "products/productDetail/7"><article class="articulo3">
                <img src="./images/img 3.jpg" alt="">
                <p class="descuentos">12% OFF</p>
                
                <p class="precio">$170.000 </p></a>
            </article>
            <a href = "products/productDetail/8"><article class="articulo4">
                <img src="./images/img19.jpg" alt="">
                <p class="descuentos">10% OFF</p>
                
                <p class="precio">$30.000 </p></a>
            </article>
        </section>
    </main>
    <br>
    <h3 style="text-align:center"><i class="fas fa-hand-holding-usd"></i> Medios de pago:
        TARJETA,EFECTIVO,TRANSFERENCIA.</h3>
    </section>
    <br>
    <section>

    </section>
    </main>
    </footer>
    <%- include("./partials/footer.ejs") %>
        </body>
        </header>


        </body>

        </html>