<%- include("./partials/head") %>

        <nav class="main-navbar">
            <ul class="left navbar">
                <a href="#" class="hamburger-button">
                    <i class="fa-solid fa-bars"></i></a>
                <li><a href="#">Asesoramiento</a></li>
                <li><a href="#">Nuestras sucursales</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right navbar">
                <li><a href="http://localhost:3001/login">Iniciar sesion<i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="http://localhost:3001/register">Registrate<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="http://localhost:3001/productCart">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
   
        <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner">
    </header>
    
    <main>
        <br>
        <h2 style="text-align:center">Nuestras joyas</h2>
        <br>
        <section>
            <article>
                <img src="./images/img4.jpg" alt="">
                <p class="descuentos"> 12% OFF</p>
                <p class="descripciones">Conjunto de collar y aros con piedras preciosas azules enchapado en plata</p>
                <p class="precio"> $200.000</p>
            </article>
            <article>
                <img src="./images/img10.jpg" alt="">
                <p class="descuentos"> 10% OFF </p>
                <p class="descripciones">Aros con diamantes violetas de acero quirurgico </p>
                <p class="precio"> $150.000 </p>
            </article>
            <article>
                <img src="./images/img11.jpg" alt="">
                <p class="descuentos"> 15% OFF </p>
                <p class="descripciones">Brazalete con piedras preciosas y estraces de alta calidad enchapado en oro
                </p>
                <p class="precio">$250.000 </p>
            </article>
            <article>
                <img src="./images/img15.jpg" alt="">
                <p class="descuentos">10% OFF</p>
                <p class="descripciones">Conjunto de anillos de plata con piedras finas </p>
                <p class="precio"> $50.000</p>
            </article>
        </section>
        <br>
        <h2 style="text-align:center">Sugeridas</h2>
        <br>
        <section>
            <article>
                <img src="./images/img18.jpg" alt="">
                <p class="descuentos">10% OFF</p>
                <p class="descripciones">Aros de acero quirurgico con piedras peciosas </p><br>
                <p class="precio">$40.000</p>
            </article>
            <article>
                <img src="./images/img8.jpg" alt="">
                <p class="descuentos">12% OFF</p>
                <p class="descripciones">Conjunto brazalete, aros y collar de plata con diamantes</p><br>
                <p class="precio">$100.000</p>
            </article>
            <article>
                <img src="./images/img 3.jpg" alt="">
                <p class="descuentos">12% OFF</p>
                <p class="descripciones">Conjunto de aros,anillo y collar con piedras azules</p>
                <p class="precio">$170.000 </p>
            </article>
            <article>
                <img src="./images/img19.jpg" alt="">
                <p class="descuentos">10% OFF</p>
                <p class="descripciones">Aros de oro 18 kilates con estraces</p><br>
                <p class="precio">$30.000 </p>
            </article>
        </section>
    </main>
  <br>
    <h3 style="text-align:center"><i class="fas fa-hand-holding-usd"></i> Medios de pago:
        TARJETA,EFECTIVO,TRANSFERENCIA.</h3>
    </section>
    <br>
    <section>
        
    </section>
    </main>
    </footer>
    <%- include("./partials/footer.ejs") %> 
</body>
</header>


</body>

</html>