<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="grupo-5-Finour-joyas/css/home.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
<title>Login</title>
<link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">


<head>

<body >
    <a href="/" > <style type="text/css"> .hola{
        color: rgb(79, 165, 42);
        font-size: 20px;
        font-family:cursive;
        
            }
             </style> 
              <div class="hola"> <i class="fa-solid fa-arrow-right-from-bracket"></i></i></a>  </div>
 <a href="/"><img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" style="width:100%"></a>
  
    <src img="https://cdn.forbes.co/2022/03/623e1f123c15e__822x460-copia.jpg"></src>
    <br>
    <br>
    <br>
    <br>
    
    <h2  style="text-align:center"> Bienvenid@!</h2>
    <form action="/" method="get" class="login">


        <br>
        <div style="text-align:center">

            <input type="text" placeholder="Nombre y apellido" required>
        </div>
        <br>
        <div style="text-align:center">

            <input type="text" placeholder="Nombre de usuari@" required>
        </div>
        <br>
        <div style="text-align:center">
            <input type="password" placeholder="Contraseña" required>
        </div>
        <br>
        <div>
    </form>
</body>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
  
   <div style="text-align:center">            
                 <input type="password" placeholder="Confirmar contraseña" required>
            </div>
            <br>
          

            <div style="text-align:center">
                <a href="views/home.html"> <button type="submit" class="submit"  > Enviar </button> </a>
                <a href="views/home.html"> <button type="submit" class="submit" > Iniciar sesión </button> </a>
            </div>
<br>
<br> 
<br>
<br>

<br>
<br>
<br>
<br>
<br>
    </form>
</body>
<%- include("./partials/footer.ejs") %> 







    

</body>