<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.google.com" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Bree+Serif" rel="stylesheet">
    <title>Product</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">

</head>
<body>
    <a href="/"> <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner"></a>

</body>
<main>
    <br>
    <h2 style="text-align:center">Nuestras joyas</h2>
    <br>
    <section>
        <article>
            <img src="./images/img4.jpg" alt="" style="width:80%" id="1">
            
        </article>
        <article>
            <img src="./images/img10.jpg" alt="" style="width:100%" id="2">
           
        </article>
        <article>
            <img src="./images/img11.jpg" alt="" style="width:100%" id="3">
            
        </article>
        <article>
            <img src="./images/img15.jpg" alt="" style="width:100%" id="4" >
           
        </article>
    </section>
    <br>
    <h2 style="text-align:center">Sugeridas</h2>
    <br>
    <section>
        <article>
            <img src="./images/img18.jpg" alt="" style="width:100%" id="5">
           
        </article>
        <article>
            <img src="./images/img8.jpg" alt="" style="width:100%" id="6">
           
        </article>
        <article>
            <img src="./images/img 3.jpg" alt="" style="width:100%" id="7">
           
        </article>
        <article>
            <img src="./images/img19.jpg" alt="" style="width:100%" id="8">
           
        </article>
    </section>
</main>
<br>
<h3 style="text-align:center"><i class="fas fa-hand-holding-usd"></i> Medios de pago:
    TARJETA,EFECTIVO,TRANSFERENCIA.</h3>
</section>
<br>
<section>
   <footer>
    <%- include("./partials/footer.ejs") %> 
   </footer> 
</section>
</main>
</html>
