<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">
<head >
    <a href="/" > <style type="text/css"> .hola{
        color: rgb(79, 165, 42);
        font-size: 20px;
        font-family:cursive;
        
            }
             </style> 
              <div class="hola"> <i class="fa-solid fa-arrow-right-from-bracket"></i></i></a>  </div>


   

<body >
    <a href="/"> <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner"></a>
  
    

    <src img="https://cdn.forbes.co/2022/03/623e1f123c15e__822x460-copia.jpg"></src>
</div>
    <form action="/" method="get" class="register" style="text-align:center" style="font-size: x-large">
        <br>
        <div>
            <h2  style= "color:peru" >  Crear cuenta </h2>
         
           
            <input type="text" placeholder=" Ingrese su nombre  " style="border-radius:5px solid " name="nombre" required>
        </div>
        <br>
        <div >
          
            <input type="text" placeholder=" Ingrese su mail "  name="email" required>
        </div>
        <br>
        <div>
            <label for="Fecha de nacimiento" style="color:peru" name="fechaDeNacimiento" required >Fecha de nacimiento</label> <br>
            <input type="date">
        </div>
        <br>
        
       
        
       
        
        <div>
           
            <input type="password" placeholder="Contraseña" name="constrasenia" required>
        </div>
        <br>
        <div>
           
            <input type="password" placeholder="Confirmar contraseña" name="confirmacionDeContrasenia" required>
            <br>
        </div>
        <br>
        <div>
            <label>
                <input type="checkbox" name="terminosaceptados">
                <label for="acepto los terminos de privacidad" style="color:peru" style="font-size:small" >Acepto la politíca de privacidad </label> 
                
            </label>
        </div>
        <br>
        <div>
            
            <a href="views/home.html">  <button type="submit" class="submit" style="color:peru">  Registrarse </button>  </a>
        </div>
        <br>
          <label for="iniciar sesion "> ¿Ya tienes una cuenta?  </a>
        <a href="/login"> Inicia sesion  <label for="iniciar sesion ">   </label> </a>  
        <div> 
           
        </div>
        </div>
        <br>
        <%- include("./partials/footer.ejs") %> 

    </form>
</body>
</head>

<footer>


</footer>
</html>