<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1><title>FINOUR JOYAS</title></h1>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <h3 class="copy-header">
                <form action="/" method="GET" class="search-bar">
                    <button class="barra-de-busqueda"> 
                        <div style="align-items:center"><input type="text" placeholder="ingrese su bsqueda" name="search"><i
                            class="fa fa-search" style="font-size: 18px;"></i>
                        </button>
                        </form>
        </div>
    <section>
        <div class="footer"></div>
        <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner">
    </section>
    </main>
    </footer>
</body>
</header>
<img src="footer.jpeg" style="width:100%"></footer>

</body>

</html>
</body>
</html>