<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.google.com" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Bree+Serif" rel="stylesheet">
    <h1><title>FINOUR JOYAS</title></h1>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <h3 class="copy-header">
                <form action="/" method="GET" class="search-bar">
                    <button class="barra-de-busqueda"> 
                        <div style="align-items:center"><input type="text" placeholder="ingrese su bsqueda" name="search"><i
                            class="fa fa-search" style="font-size: 18px;"></i>
                        </button>
                        </form>
        </div>
</body>
</html>