<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.google.com/specimen/Bree+Serif" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/header.css">
    <title>header</title>
</head>
<body>
    <header>
        <div class="main-header-top-bar">

            <p>Bienvenido  <% if (locals.isLogged){ %> 

             <%=locals.userLogged.nombre %> <%=locals.userLogged.apellido %>!
             <%} else{ %> 
                usuario!
                <%} %> 
                             </p>
 
                    </div>


        <nav class="main-navbar" style="justify-content:space-between">
            <a href="#" class="hamburger-button">
                <i class="fa-solid fa-bars"></i></a>
            <ul class= "left">
            <li><a href="/asesoramiento">Asesoramiento</a></li>
            <li><a href="/product">Todos los productos</a></li>
            <li><a href="/ayuda">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
            <% if(!locals.isLogged){ %> 
                <li class="login"><a href="/login">Iniciar sesion<i class="fa-solid fa-id-card"></i></a></li>
                <li class="register"><a href="/user/create">Registrate<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <% } else{ %> 
                    <li><a href="/productCart">Agregar al carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
                    <li><a href="/user/profile">Mi perfil<i class="fas fa-user"></i></a></li>
                    <li><a href="/logout">cerrar sesion</a></li>
                    <% } %> 
             
                </ul>
        </nav>
       <img src="../images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner" >

<!-- <link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png"> -->

  
    </header>