<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar productos</title>
</head>
 <img src="./images/WhatsApp Image 2022-08-23 at 5.59.17 PM.jpeg" class="banner">
<body>
    <form action="/" method="get" class="Agregar" style="text-align:center" style="font-size: x-large">
        <br>
        <div>
            <h2 style="color:peru"> Producto </h2>

            <input type="text" placeholder="Agregar" style="border-radius:5px solid ">
        </div>
        <br>
        <div>
            <label for="tipo de producto" style="color:peru">tipo de producto</label> <br>
        </div>
        <br>
        <div>
            <input type="Cantidad de productos">
        </div>
        <br>
        <div>
            <input type="color">
            <br>
        </div>
        <div>
            <a href="views/home.html"> <button type="agregar" class="add" style="color:peru"> Agregar </button>
            </a>
        </div>
        <br>
       
    <footer>
        <%- include("../partials/footer.ejs") %>
    </form>
    </footer>
</body>

</html>