<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar productos</title>
</head>

<body>
    <form action="/" method="get" class="Agregar" style="text-align:center" style="font-size: x-large">
        <br>
        <div>
            <h2 style="color:peru"> Producto 1</h2>
            <input type="precio" value="$250.000" style="border-radius:5px solid ">
        </div>
        <br>
        <input type="Descripsion" value="Brazalete con piedras preciosas y estraces de alta calidad enchapado en oro
        " style="border-radius:5px solid ">
        <br>
        <input type="Descuento" value="     
      15% OFF" style="border-radius:5px solid ">
        <div>
            <label for="color y material">Awenchapado en oro amarillo</label> <br>
        </div>
        <br>
        <h2 style="color:peru"> Producto 2</h2>
        <input type="precio" value="$50.000" style="border-radius:5px solid ">
        </div>
        <br>
        <input type="Descripsion" value="Conjunto de anillos de plata con piedras finas"
            style="border-radius:5px solid ">
        <br>
        <input type="Descuento" value="10% OFF" style="border-radius:5px solid ">
        <div>
            <label for="color y material">Plata Plateado</label> <br>
        </div>
        <h2 style="color:peru"> Producto 3</h2>
        <input type="precio" value="$40.000" style="border-radius:5px solid ">
        </div>
        <br>
        <input type="Descripsion" value="Aros de acero quirurgico con piedras peciosas"
            style="border-radius:5px solid ">
        <br>
        <input type="Descuento" value="10% OFF" style="border-radius:5px solid ">
        <div>
            <label for="color y material">Plateado acero quirurgico</label> <br>
        </div>
        <br>
        <h2 style="color:peru"> Producto 4</h2>
        <input type="precio" value="$200.000" style="border-radius:5px solid ">
        </div>
        <br>
        <input type="Descripsion" value="Conjunto de collar y aros con piedras preciosas azules enchapado en plata"
            style="border-radius:5px solid ">
        <br>
        <input type="Descuento" value="12% OFF" style="border-radius:5px solid ">
        <div>
            <label for="color y material">Azul enchapado en plata</label> <br>
        </div>
        <br>
        <h2 style="color:peru"> Producto 5</h2>
        <input type="precio" value="$150.000" style="border-radius:5px solid ">
        </div>
        <br>
        <input type="Descripsion" value="Aros con diamantes violetas de acero quirurgico"
            style="border-radius:5px solid ">
        <br>
        <input type="Descuento" value="10% OFF" style="border-radius:5px solid ">
        <div>
            <label for="color y material">Violeta de acero quirurgico</label> <br>
        </div>
        <br>
        <h2 style="color:peru"> Producto 6</h2>
        <input type="precio" value="$100.000" style="border-radius:5px solid ">
        </div>
        <br>
        <input type="Descripsion" value="Conjunto brazalete, aros y collar de plata con diamantes"
            style="border-radius:5px solid ">
        <br>
        <input type="Descuento" value="12% OFF" style="border-radius:5px solid ">
        <div>
            <label for="color y material">Plata plateado</label> <br>
        </div>
        <br>
        <h2 style="color:peru"> Producto 7</h2>
        <input type="precio" value="$170.000" style="border-radius:5px solid ">
        </div>
        <br>
        <input type="Descripsion" value="Conjunto de aros,anillo y collar con piedras azules"
            style="border-radius:5px solid ">
        <br>
        <input type="Descuento" value="12% OFF" style="border-radius:5px solid ">
        <div>
            <label for="color y material">Azul plateado</label> <br>
        </div>
        <br>
        <div>
            <h2 style="color:peru"> Producto 8</h2>
            <input type="precio" value="$30.000
            " style="border-radius:5px solid ">
        </div>
        <br>
        <input type="Descripsion" value="Aros de oro 18 kilates con estraces" style="border-radius:5px solid ">
        <br>
        <input type="Descuento" value="10% OFF" style="border-radius:5px solid ">
        <div>
            <label for="color y material">Oro amarillo 18 kilates</label> <br>
        </div>
        <br>
        <div>

            <a href="views/home.html"> <button type="editar" class="add" style="color:peru"> Editar </button>
            </a>
        </div>
        <br>

        </div>
        </div>
        <br>
        <%- include("../partials/footer.ejs") %>

    </form>

    <footer>


    </footer>

</body>

</html>