
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>



<%- include("../partials/header") %>


<h1>Acciones de administrador</h1>

<a href="../user/users"> <input type="text" placeholder="lista de usuario" value="Lista de usuarios">  </a>
<a href="../listaprod"> <input type="text" placeholder="lista de productos" value="Lista de productos">  </a>
<a href="../products/productCreate"> <input type="text" placeholder="Agregar producto" value="Agregar producto">  </a>


<%- include("../partials/footer.ejs") %>