
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="grupo-5-Finour-joyas/css/admin.css">
    <title>Administracion</title>
    <link rel="icon" type="image/png" sizes="16x16"  href="/images/col.png">
</head>
<body>
    
</body>
</html>



<%- include("../partials/header") %>

<br>
<br>
<h1 style="text-align:center">Acciones de administrador</h1>
<br>

<br>
 <h1 style="text-align:center"><a  href="../user/users" style="text-align:center"> <input type="text" placeholder="lista de usuario" value="Lista de usuarios" style="text-align:center">  </a> </h1>
<h1 style="text-align:center"><a href="../listaprod" style="text-align:center"> <input type="text" placeholder="lista de productos" value="Lista de productos" style="text-align:center">  </a> </h1>
 <h1 style="text-align:center"><a href="../products/productCreate" style="text-align:center"> <input type="text" placeholder="Agregar producto" value="Agregar producto" style="text-align:center">  </a> </h1>
 <br>
 <br>


<%- include("../partials/footer.ejs") %>