<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<%- include("./partials/head.ejs") %>

    <body>
        <div>
            <a href="users/users"><button type="edit" class="edit" style="color:rgb(104, 199, 115)"> Edicion de usuarios
                </button></a>
            <div>
                <a href="users/users"><button type="add" class="add" style="color:rgb(104, 199, 115)"> agregar usuario
                    </button></a>
    </body>
    <form action="/user/users<%= productoActual.id %>/user/users" method="get">
        <button type="submit" style="color:rgb(15, 152, 33)">Editar los usuarios</button>

        <form action="/listaprod/<%=productoActual.id%>?_method=DELETE" method="post">
            <button type="submit" style="color:rgb(196, 30, 4)">Eliminar a un usuario</button>
        </form>


        <%- include("./partials/footer.ejs") %>

</html>